/* down */
.slide-down-enter-active {
    transition: all .6s ease;
}

.slide-down-leave-active {
    transition: all .6s ease;
}

.slide-down-enter,
.slide-down-leave-to {
    transform: translateY(20px);
    opacity: 0;
}



/* up */
.slide-up-enter {
    transform: translateY(-100px);
}

.slide-up-enter-active {
    transition: all .5s ease .3s;
    transform: translateY(0px);
}

.slide-up-leave-active {
    transition: all .3s ease .3s;
    transform: translateY(-100px);
    opacity: 0;
}

.slide-up-move {
    transition: all .3s;
}

/* left */
.slide-left-enter-active {
    transition: all .5s ease;
}

.slide-left-leave-active {
    transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

.slide-left-enter {
    transform: translateX(20px);
    opacity: 0;
}

.slide-left-leave-active {
    transform: translateX(20px);
    opacity: 0;
}

.slide-left-move {
    transition: all .5s;
}

/* right */
.slide-right-enter-active {
    transition: all .5s ease;
}

.slide-right-leave-active {
    transition: all .5s cubic-bezier(.55, 0, .1, 1);
}

.slide-right-enter {
    transform: translateX(-20px);
    opacity: 0;
}

.slide-right-leave-active {
    transform: translateX(20px);
    opacity: 0;
}

.slide-right-move {
    transition: all .5s;
}


/* list */
.list-enter-active {
    transition: all .5s ease-in-out;
}

.list-leave-active {
    transition: all .2s ease;
    opacity: 0;
}

.list-enter {
    transform: translateY(20px);
    opacity: 0;
}

.list-move {
    transition: all .5s;
}

.list-leave-active {
    position: absolute;
    width: 100%;
}

/* fade */
.fade-enter-active,
.fade-leave-active {
    transition: opacity .8s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

.fade-move {
    transition: transform .3s;
}

.fade-leave-active {
    position: absolute;
}

/* btn  */
.btn-enter-active,
.btn-leave-active {
    transition: all .5s;
}

.btn-enter,
.btn-leave-active {
    opacity: 0;
    transform: translateX(30px);
}

.btn-move {
    transition: all .5s;
}

.btn-leave-active {
    position: absolute;
}